body {
  font-style: Lucida Grande;
  color: #404040;
  text-align: center;
  padding: 100px;
  background-image: url(https://wallpapers.net/keyboard-background-hd-wallpaper-for-desktop-mobiles/download/1366x768.jpg);
  color: #fff;
}